<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoListApp</title>
</head>
<body>
    <div class="skew">
        <div class="content">
            <!-- <h1>Skewed Background</h1>
            <p>
                This is a quick tutorial to show how to get skewed background
                using HTML and CSS
            </p>   -->
        </div>
    </div>
    <div class="footer">
        <p>vlad-dvlad | To Do App Tutorial</p>
    </div>
</body>
</html>