<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoListApp</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet"> 
</head>
<body>

    <div>
        <app-top-bar></app-top-bar>
    </div>
    <div class="skew">
        <div class="content">
            <div><app-task-list></app-task-list></div>
        </div>
    </div>
    <div class="footer">
        <p>vlad-dvlad | To Do App Tutorial</p>
    </div>


</body>
</html>