body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #222;
}

.skew {
    margin-top: -220px;
    padding: 510px 0;
    transform: skew(0deg, -8deg);
    background: #3CB371;
}

.content {
    text-align: center;
    transform: skew(0deg, 0deg);
}

h1 {
    font-weight: lighter;
    font-size: 40px;
}

p {
    font-weight: lighter;
    font-size: 20px;
}

.footer {
    padding-top: 60px;
    text-align: right;
    padding-right: 20px;
    color:rgb(54, 170, 108);
}